# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/
ENV/

# =========================
# Django (geeen SQLite meer - using PostgreSQL)
# =========================
*.log

# =========================
# Environment variables
# =========================
.env
!.env.example

# =========================
# Static / Media
# =========================
staticfiles/
media/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Testing / coverage
# =========================
htmlcov/
.coverage
.cache
pytest_cache/
nosetests.xml
coverage.xml

# =========================
# Build / packaging
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Mypy / linting
# =========================
.mypy_cache/
.dmypy.json
.ruff_cache/